
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>

    <link href="~/Scripts/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <link rel="icon" type="image/png" href="~/Areas/Home/images/favicon.ico" />
    <link href="~/Areas/Admin_Page/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>

    <!-- for mdb for bootstrab-->
    <link href="~/Content/mdb.min.css" rel="stylesheet" />


    <script src="~/js/jquery-3.3.1.min.js"></script>

    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery-3.4.1.js">
        
    </script>
    <link href="~/Areas/Home/css/Home_Style.css" rel="stylesheet" />

    <style>
        @@media (min-width: 992px) {
            .navbar-expand-lg .navbar-toggler {
                display: block;
            }
        }
    </style>

</head>
<body class="sb-nav-fixed">

    
    <fieldset>
        <legend>First Name</legend>
        <input type="text" name="name" value="" />
        <button>Ok</button>
    </fieldset>

</body>
</html>