@*@model IEnumerable<Eskaney.Models.Housing>*@
@model Eskaney.Models.Company
@using Eskaney.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>


    <script type="text/javascript">
        let current_datetime = new Date()
        let formatted_date = current_datetime.getDate() + "-" + (current_datetime.getMonth() + 1) + "-" + current_datetime.getFullYear() + " " + current_datetime.getHours() + ":" + current_datetime.getMinutes() + ":" + current_datetime.getSeconds()
        console.log(formatted_date)



    </script>

    <style>


        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* Button used to open the contact form - fixed at the bottom of the page */
        .open-button {
            background-color: #555;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: 23px;
            right: 28px;
            width: 280px;
        }

        /* The popup form - hidden by default */
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }

        /* Add styles to the form container */
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }

            /* Full-width input fields */
            .form-container input[type=text], .form-container input[type=password] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
            }

                /* When the inputs get focus, do something */
                .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }

            /* Set a style for the submit/login button */
            .form-container .btn {
                background-color: #4CAF50;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom: 10px;
                opacity: 0.8;
            }

            /* Add a red background color to the cancel button */
            .form-container .cancel {
                background-color: red;
            }

            /* Add some hover effects to buttons */
            .form-container .btn:hover, .open-button:hover {
                opacity: 1;
            }
    </style>

</head>
<body>

    <a class="btn btn-white" onclick="openForm()">Login</a>
    <!--------------------------------------------------------------------------------------------------------------------------------->

    <div class="form-popup" id="myForm">
        <div class="row form-container">
            <!--Grid column-->
            <div class="col-md-6 white-text text-center text-md-left mt-xl-4 mt-lg-5 mb-3 mt-sm-5 mt-2 wow fadeInLeft" data-wow-delay="0.3s" style="margin-top: 90px;padding-bottom: 100px">

                <div class="limiter">
                    <div class="container-login100" style="margin-bottom: -120px;">
                        <div class="wrap-login100" style="padding-bottom: 0px;">
                            <div class="login100-form validate-form" style="padding: 10px;">
                                <span class="login100-form-logo">
                                    <img src="~/Image/kisspng-house-home-inspection-real-estate-hughesville-5ce3da57e889d9.7636396815584364399525.png" style="width: 100px;" />
                                </span>

                                <a class="btn btn-white" onclick="closeForm()">Login</a>

                                <span class="login100-form-title p-b-34 p-t-27">
                                    Log in
                                </span>
                                <div class="wrap-input100 validate-input" data-validate="Enter Email">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "txtEmail", @class = "input100", type = "text", name = "username", placeholder = "Email" } })
                                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                </div>


                                <div class="wrap-input100 validate-input" data-validate="Enter password">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "txtPass", @class = "input100", type = "password", name = "pass", placeholder = "Password" } })
                                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>

                                <div class="contact100-form-checkbox">
                                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                    <label class="label-checkbox100" for="ckb1">
                                        Remember me
                                    </label>
                                </div>


                                <div class="container-login100-form-btn">
                                    <div>
                                        <input type="submit" value="Login" class="login100-form-btn" />
                                    </div>
                                </div>

                                <div class="text-center p-t-90">
                                    <a class="txt1" href="#">
                                        Forgot Password?
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-4 col-xl-5 mt-xl-6 mt-md-6 col-sm-9 offset-md-1 offset-sm-1 col-10 offset-1 mt-xl-8 wow fadeInRight" data-wow-delay="0.3s" style="padding: 0;">
                @*<img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid">*@

                <img src="~/Image/HomePage.png" alt="" class="img-fluid" style="height: 230px;width: 100%;" />
            </div>
        </div>
    </div>








    <!--------------------------------------------------------------------------------------------------------------------------------->


    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
