body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
}

#WebTitle {

    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-style: italic;
    font-weight: bolder;
    margin-right: 9px;
    font-size: -webkit-xxx-large;
    cursor: context-menu;
    color: black;
}
.hover:hover {
    color: red;
    font-size: x-large;
}

.navbar-toggler {
    font-size: 20px;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-toggler {
    border: 3px solid white;
    border-radius: 10px;
    margin-right: 10px;
}

.cliek {
    font-weight: 900;
}
